Repository Mritunjaypratapsinghh/stockpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, ruff, check-yaml, check-json, debug-statements

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: backend/venv/bin/black
        language: system
        types: [python]
        files: ^backend/
        args: [--line-length=120]

      - id: isort
        name: isort
        entry: backend/venv/bin/isort
        language: system
        types: [python]
        files: ^backend/
        args: [--profile=black, --line-length=120]

      - id: ruff
        name: ruff
        entry: backend/venv/bin/ruff check --fix --exit-non-zero-on-fix
        language: system
        types: [python]
        files: ^backend/

      - id: check-yaml
        name: check yaml
        entry: python3 -c "import yaml, sys; [yaml.safe_load(open(f)) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$

      - id: check-json
        name: check json
        entry: python3 -c "import json, sys; [json.load(open(f)) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: package-lock\.json$

      - id: debug-statements
        name: debug statements
        entry: python3 -c "import sys, re; files=[f for f in sys.argv[1:] if re.search(r'\\b(pdb\\.set_trace|breakpoint)\\s*\\(', open(f).read())]; sys.exit(1) if files else None"
        language: system
        types: [python]
        files: ^backend/

fix(ci): resolve ruff lint errors - unused imports, whitespace, ambiguous var
  backend/app/api/health.py
  backend/app/api/v1/vault/routes.py
  backend/app/services/base/repository.py
  backend/app/services/chat/ai_functions.py
  backend/app/tasks/scheduler.py
  backend/app/utils/pagination.py
Due: black, isort, ruff, debug-statements

fix(ci): add env vars for backend import check and tests
  .github/workflows/ci.yml
Due: check-yaml

fix: resolve pre-commit hook issues (ruff F841, add E501 ignore)
  .pre-commit-config.yaml
  backend/app/api/health.py
  backend/app/api/v1/chat/routes.py
  backend/app/api/v1/portfolio/routes.py
  backend/app/api/v1/vault/routes.py
  backend/app/main.py
  backend/app/services/cache.py
  backend/app/services/chat/ai_functions.py
  backend/app/services/itr/capital_gains.py
  backend/app/services/portfolio/portfolio_service.py
  backend/app/utils/pagination.py
  backend/tests/conftest.py
  backend/tests/edge_cases/test_financial_edge_cases.py
  backend/tests/security/test_auth_security.py
  backend/tests/security/test_concurrency_cache.py
  backend/tests/unit/test_capital_gains.py
  backend/tests/unit/test_hra_reconciliation.py
  backend/tests/unit/test_tax_engine.py
Due: black, isort, ruff, check-yaml, debug-statements

fix(docker): remove frontend/ from .dockerignore so frontend Dockerfile can COPY it
  .dockerignore
Due: none

fix(auth): use SameSite=None for cross-origin cookie auth (Vercel→Koyeb)
  backend/app/api/v1/auth/routes.py
Due: black, isort, ruff, debug-statements

docs: add today's lessons learned to .kiro/lessons.md
  .kiro/lessons.md
Due: none

docs: add MongoDB MCP warning to lessons
  .kiro/lessons.md
Due: none

docs: clean up documentation - concise README, remove ambiguous files
  API_TEST_REPORT.md
  Architecture.md
  PLAN.md
  PROJECT_CONTEXT.md
  README.md
  REFACTOR_CHECKPOINT.md
  backend/PLAN.md
  backend/REVIEW.md
  context.md
Due: none

refactor(portfolio): extract CRUD + transactions into PortfolioService
  backend/app/api/v1/portfolio/routes.py
  backend/app/services/portfolio/portfolio_service.py
Due: black, isort, ruff, debug-statements

refactor: extract AnalyticsService + TaxService from god files
  backend/app/api/v1/analytics/routes.py
  backend/app/api/v1/finance/routes.py
  backend/app/services/analytics/__init__.py
  backend/app/services/analytics/analytics_service.py
  backend/app/services/finance/tax_service.py
Due: black, isort, ruff, debug-statements

feat: observability + integration tests + WS auth
  backend/app/main.py
  backend/app/middleware/correlation.py
  backend/app/middleware/metrics.py
  backend/app/utils/logger.py
  backend/tests/integration/test_api.py
Due: black, isort, ruff, debug-statements

fix(docker): add output:'standalone' to next.config for Docker build
  frontend/next.config.js
Due: none

fix(ci): add prometheus-client to requirements.txt
  backend/requirements.txt
Due: none

feat: Sentry, distributed locks, WS Pub/Sub, CSRF, API types
  backend/app/core/config.py
  backend/app/main.py
  backend/app/middleware/csrf.py
  backend/app/services/websocket.py
  backend/app/tasks/distributed_lock.py
  backend/app/tasks/scheduler.py
  backend/requirements.txt
  frontend/src/lib/api.ts
  frontend/src/lib/types.ts
Due: black, isort, ruff, debug-statements

fix: ITR filing — 10 critical bugs in AIS parser, autofill, form selection, and regime recommendation
  backend/app/api/v1/itr/routes.py
  backend/app/models/documents/ais_line_item.py
  backend/app/services/itr/parsers/ais_parser.py
Due: black, isort, ruff, debug-statements

fix: CSRF token not accessible cross-origin — expose via response header
  backend/app/main.py
  backend/app/middleware/csrf.py
  frontend/src/lib/api.ts
Due: black, isort, ruff, debug-statements

fix: CSRF 500 → proper 403 + auto-retry on first POST
  backend/app/middleware/csrf.py
  frontend/src/lib/api.ts
Due: black, isort, ruff, debug-statements

fix: add CSRF token to file upload requests
  frontend/src/app/itr/page.tsx
  frontend/src/lib/api.ts
Due: none

fix: CSRF token for cross-origin uploads — use in-memory token with retry
  frontend/src/app/itr/page.tsx
  frontend/src/lib/api.ts
Due: none

fix: ITR computation — intra-head CG set-off, truncate per-txn, clamp 80D
  backend/app/api/v1/itr/routes.py
  backend/app/services/itr/itr_json_generator.py
  backend/app/services/itr/tax_engine.py
Due: black, isort, ruff, debug-statements
