Repository Mritunjaypratapsinghh/stockpilot: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, ruff, check-yaml, check-json, debug-statements

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: backend/venv/bin/black
        language: system
        types: [python]
        files: ^backend/
        args: [--line-length=120]

      - id: isort
        name: isort
        entry: backend/venv/bin/isort
        language: system
        types: [python]
        files: ^backend/
        args: [--profile=black, --line-length=120]

      - id: ruff
        name: ruff
        entry: backend/venv/bin/ruff check --fix --exit-non-zero-on-fix
        language: system
        types: [python]
        files: ^backend/

      - id: check-yaml
        name: check yaml
        entry: python3 -c "import yaml, sys; [yaml.safe_load(open(f)) for f in sys.argv[1:]]"
        language: system
        files: \.(yaml|yml)$

      - id: check-json
        name: check json
        entry: python3 -c "import json, sys; [json.load(open(f)) for f in sys.argv[1:]]"
        language: system
        files: \.json$
        exclude: package-lock\.json$

      - id: debug-statements
        name: debug statements
        entry: python3 -c "import sys, re; files=[f for f in sys.argv[1:] if re.search(r'\\b(pdb\\.set_trace|breakpoint)\\s*\\(', open(f).read())]; sys.exit(1) if files else None"
        language: system
        types: [python]
        files: ^backend/

fix: Keep theme/logout visible at 125% zoom - nav items scroll instead
  frontend/src/app/globals.css
  frontend/src/components/Navbar.js
Due: none

feat: Enhanced tax harvesting - show gains + losses, STCG/LTCG split
  backend/app/api/v1/finance/routes.py
  frontend/src/app/tax/page.js
Due: black, isort, ruff, debug-statements

feat: Import transaction history from Groww XLSX order history
  backend/app/api/v1/portfolio/routes.py
  backend/requirements.txt
Due: black, isort, ruff, debug-statements

feat: Import Groww transaction history from portfolio page
  frontend/src/app/portfolio/page.js
Due: none

fix: Navbar dropdowns not opening - overflow-x-auto was clipping them
  frontend/src/components/Navbar.js
Due: none

fix: Tax center skeleton loader instead of plain Loading text
  frontend/src/app/tax/page.js
Due: none

feat: Import MF transaction history from Groww XLSX
  backend/app/api/v1/portfolio/routes.py
Due: black, isort, ruff, debug-statements

feat: Calculate XIRR from transaction history using Newton's method
  backend/app/api/v1/portfolio/routes.py
Due: black, isort, ruff, debug-statements

feat: Separate XIRR for stocks, MF, and overall
  backend/app/api/v1/portfolio/routes.py
  frontend/src/app/portfolio/page.js
Due: black, isort, ruff, debug-statements

feat: Add Redis caching to heavy endpoints
  backend/app/api/v1/finance/routes.py
  backend/app/api/v1/portfolio/routes.py
Due: black, isort, ruff, debug-statements

fix: Correct cache import path in portfolio routes
  backend/app/api/v1/portfolio/routes.py
Due: black, isort, ruff, debug-statements

feat: Cache dividends endpoint (5 min TTL)
  backend/app/api/v1/finance/routes.py
Due: black, isort, ruff, debug-statements

perf: Extend cache TTL when market is closed
  backend/app/api/v1/portfolio/routes.py
  backend/app/services/market/multi_source_price.py
Due: black, isort, ruff, debug-statements

feat: Enhanced AI chat - richer context, better rendering, dynamic suggestions
  backend/app/api/v1/chat/routes.py
  frontend/src/app/chat/page.js
Due: black, isort, ruff, debug-statements

fix: Add missing groq dependency to requirements.txt
  backend/requirements.txt
Due: none

fix: Price updater crash + IPO scraper + advisor labels
  backend/app/tasks/ipo_tracker.py
  backend/app/tasks/portfolio_advisor.py
  backend/app/tasks/price_updater.py
Due: black, isort, ruff, debug-statements

perf: Add Redis caching to all high-priority endpoints
  backend/app/api/v1/analytics/routes.py
  backend/app/api/v1/finance/routes.py
  backend/app/api/v1/ipo/routes.py
  backend/app/api/v1/market/routes.py
  backend/app/api/v1/portfolio/routes.py
  backend/app/api/v1/watchlist/routes.py
  backend/app/services/cache.py
Due: black, isort, ruff, debug-statements

fix: Add missing signals __init__.py (SignalEngine import)
  backend/app/services/signals/__init__.py
Due: black, isort, ruff, debug-statements

style: Use emojis freely in AI chat responses
  backend/app/api/v1/chat/routes.py
Due: black, isort, ruff, debug-statements

fix: Alerts not sending - ObjectId vs string mismatch in user lookup
  backend/app/services/notification/service.py
Due: black, isort, ruff, debug-statements

feat: Add email to hourly portfolio update
  backend/app/tasks/hourly_update.py
Due: black, isort, ruff, debug-statements

docs: Update all documentation to reflect current architecture
  Architecture.md
  PROJECT_CONTEXT.md
  README.md
Due: none

feat: Revamp hourly alerts with per-stock signals, AI insights, and rich formatting
  backend/app/tasks/hourly_update.py
  backend/app/tasks/scheduler.py
Due: black, isort, ruff, debug-statements

feat: Major notification improvements + reliability fixes
  backend/app/services/notification/service.py
  backend/app/tasks/alert_checker.py
  backend/app/tasks/digest_generator.py
  backend/app/tasks/hourly_update.py
  backend/app/tasks/portfolio_advisor.py
  backend/app/tasks/scheduler.py
  backend/app/tasks/ws_broadcaster.py
  backend/requirements.txt
Due: black, isort, ruff, debug-statements

feat: Privacy mode, health score, weekly report, tax alerts, AI presets
  backend/app/api/v1/analytics/routes.py
  backend/app/api/v1/auth/routes.py
  backend/app/api/v1/auth/schemas.py
  backend/app/tasks/scheduler.py
  backend/app/tasks/tax_harvest_alert.py
  backend/app/tasks/weekly_report.py
  frontend/src/app/chat/page.js
  frontend/src/app/globals.css
  frontend/src/components/Navbar.js
Due: black, isort, ruff, debug-statements

feat: What-If Simulator + AI Dashboard Insights
  backend/app/api/v1/analytics/routes.py
  frontend/src/app/page.js
  frontend/src/app/simulator/page.js
  frontend/src/components/Navbar.js
Due: black, isort, ruff, debug-statements

feat: News sentiment in signals + Earnings calendar endpoint
  backend/app/api/v1/portfolio/routes.py
  backend/app/services/signals/engine.py
Due: black, isort, ruff, debug-statements

fix: Make all new features actually work end-to-end
  backend/app/api/v1/analytics/routes.py
  backend/app/api/v1/analytics/schemas.py
  frontend/src/app/page.js
  frontend/src/app/portfolio/page.js
  frontend/src/app/signals/page.js
Due: black, isort, ruff, debug-statements

fix: React key warning in Dashboard grid children
  frontend/src/app/page.js
Due: none

fix: Privacy mode covers all pages via .tabular class + networth values
  frontend/src/app/globals.css
  frontend/src/app/networth/page.js
Due: none

fix: Global CSS margin:5px on every element was causing overlaps
  frontend/src/app/globals.css
Due: none

revert: Restore margin:5px global rule — all pages designed around it
  frontend/src/app/globals.css
Due: none

fix: Simulator sell dropdown empty — holdings API returns flat array not {holdings:[]}
  frontend/src/app/simulator/page.js
Due: none

fix: Signals — fake sector concentration, irrelevant news, expanded SECTOR_MAP
  backend/app/core/constants.py
  backend/app/services/signals/engine.py
Due: black, isort, ruff, debug-statements

fix: Dashboard React key warning — ternary instead of conditional && render
  frontend/src/app/page.js
Due: none

fix: All audit issues — data integrity, empty states, error handling
  backend/app/api/v1/analytics/routes.py
  backend/app/api/v1/chat/routes.py
  backend/app/api/v1/portfolio/routes.py
  frontend/src/app/alerts/page.js
  frontend/src/app/analytics/page.js
  frontend/src/app/ipo/page.js
  frontend/src/app/ledger/page.js
  frontend/src/app/market/page.js
  frontend/src/app/mf-health/page.js
  frontend/src/app/mf-overlap/page.js
  frontend/src/app/simulator/page.js
  frontend/src/app/vault/page.js
Due: black, isort, ruff, debug-statements

fix: Chat import path — ....core not ..core (4 levels up from api/v1/chat/)
  backend/app/api/v1/chat/routes.py
Due: black, isort, ruff, debug-statements

feat: Business fixes — onboarding, SEO, MF disclaimer, analytics, freemium
  backend/app/api/v1/auth/routes.py
  backend/app/api/v1/auth/schemas.py
  backend/app/core/security.py
  backend/app/main.py
  backend/app/models/documents/user.py
  frontend/src/app/layout.js
  frontend/src/app/mf-overlap/page.js
  frontend/src/app/page.js
Due: black, isort, ruff, debug-statements

feat: Manual assets API, PWA, daily snapshots
  backend/app/api/v1/finance/routes.py
  backend/app/tasks/scheduler.py
  backend/app/tasks/snapshot.py
  frontend/public/manifest.json
  frontend/public/sw.js
  frontend/src/app/layout.js
Due: black, isort, ruff, check-json, debug-statements

fix: Dashboard key warning — holdings may have id instead of _id
  frontend/src/app/page.js
Due: none
